<ion-searchbar
  #searchBar
  [id]="searchID"
  [debounce]="1000"
  (ionChange)="onSearch($event)"
  [placeholder]="getTitle() | titlecase"
>
</ion-searchbar>
<ion-popover
  #popover
  [trigger]="searchID"
  size="cover"
  triggerAction="context-menu"
  showBackdrop="false"
>
  <ng-template>
    <ng-container>
      <cdk-virtual-scroll-viewport
        itemSize="56"
        minBufferPx="900"
        maxBufferPx="1350"
      >
        <ion-list>
          <ion-item
            button
            (click)="selectUser(user)"
            *cdkVirtualFor="let user of sourceUser"
          >
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label style="white-space: normal">
              <p>{{ getTitle() | titlecase }}</p>
              <h2>{{ user.attributes.name | titlecase }}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </cdk-virtual-scroll-viewport>
    </ng-container>
  </ng-template>
</ion-popover>
