<ion-header>
  <ion-toolbar>
    <ion-title>Destino del dinero</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onExit()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item-group class="ion-text-center">
    <ion-radio-group #group>
      <ion-item>
        <ion-icon color="orange" slot="start" name="list"></ion-icon>
        <ion-label>
          <p>
            <b>Saldo</b>
          </p>
          <h1>
            <ion-text color="orange"><b>+</b></ion-text> {{estimate | currency}}
          </h1>
        </ion-label>
        <ion-radio color="orange" value="0"></ion-radio>
      </ion-item>
      <ion-item [disabled]="this.resume.total <= 0">
        <ion-icon color="orange" slot="start" name="cube"></ion-icon>
        <ion-label>
          <p>
            <b>Encomiendas: <ion-text color="success">{{resume.total}}</ion-text></b>
            <br>
            <b>[ <ion-text color="danger"><b>- {{resume.left | currency}}</b></ion-text> ] Cambio</b>
          </p>
          <h1>
            <ion-text color="orange"><b>+</b></ion-text> {{(resume.value | currency)}}
          </h1>
        </ion-label>
        <ion-radio color="orange" value="1"></ion-radio>
      </ion-item>
      <ion-item [disabled]="this.resume.total <= 0">
        <ion-icon color="orange" slot="start" name="grid"></ion-icon>
        <ion-label>
          <p>
            <b>[ <ion-text color="orange"><b>{{resume.left | currency}}</b></ion-text> ] Saldo</b>
            <br>
            <b>[ <ion-text color="orange"><b>{{resume.value | currency}}</b></ion-text> ] Encomiendas</b>
          </p>
          <h1>
            <ion-text color="orange"><b>+</b></ion-text> {{estimate | currency}}
          </h1>
        </ion-label>
        <ion-radio color="orange" value="2"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-button expand="block" [disabled]="!group.value" color="orange" (click)="confirm(group.value)"
      class="ion-margin" shape="round">
      <ion-label>Pagar</ion-label>
      <ion-icon slot="start" name="cash"></ion-icon>
    </ion-button>
  </ion-item-group>

</ion-content>
