ion-grid{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    & > ion-row > ion-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}