<ion-header>
  <ion-toolbar>
    <app-btn-menu slot="start"></app-btn-menu>
    <ion-title>Modulo de pago</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-searchbar #searchBar id="searchBar" [debounce]="500">
    </ion-searchbar>

  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ngx-datatable #table class="dark fullscreen"
  (select)="onSelect($event)"
  [selectionType]="SelectionType.single"
  (scroll)="this.onScroll($event.offsetY)" [rows]="this.source"
    [columnMode]="this.ColumnMode.force" [rowHeight]="this.rowHeight" [loadingIndicator]="this.loading"
    [scrollbarV]="true" [reorderable]="false" [swapColumns]="false">
    <ngx-datatable-column [canAutoResize]="true" [resizeable]="false" [draggable]="false" [sortable]="false"
      name="ID" headerClass="center" cellClass="center" prop="id">
      <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">{{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [canAutoResize]="true" [resizeable]="false" [draggable]="false" [sortable]="false"
      name="Cliente" headerClass="center" prop="attributes.name">
      <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">{{value |
        titlecase}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [canAutoResize]="true" [resizeable]="false" [draggable]="false" [sortable]="false"
      name="Encomiendas" prop="attributes.pending" headerClass="center" cellClass="center">
      <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
        <ng-container *ngIf="value > 0">
          <ion-chip color="danger">
            <ion-icon name="cash"></ion-icon>
            <ion-label>
              <b>{{value | currency}}</b>
            </ion-label>
          </ion-chip>
        </ng-container>
        <ng-container *ngIf="value <= 0">
          <ion-chip color="success">
            <ion-icon name="checkmark"></ion-icon>
            <ion-label>
              <b>{{value | currency}}</b>
            </ion-label>
          </ion-chip>
        </ng-container>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [canAutoResize]="true" [resizeable]="false" [draggable]="false" [sortable]="false"
      name="Saldo" prop="attributes.charges.total" headerClass="center" cellClass="center">
      <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
        <ng-container *ngIf="value < 0">
          <ion-chip color="danger">
            <ion-icon name="close"></ion-icon>
            <ion-label>
              <b>{{value | currency}}</b>
            </ion-label>
          </ion-chip>
        </ng-container>
        <ng-container *ngIf="value >= 0">
          <ion-chip color="success">
            <ion-icon name="checkmark"></ion-icon>
            <ion-label>
              <b>{{value | currency}}</b>
            </ion-label>
          </ion-chip>
        </ng-container>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</ion-content>

<!-- <ion-content *ngIf="user != 0">
  <pagos-resumen [id]="this.user"></pagos-resumen>
</ion-content>
 -->
