ion-segment {
    --background: var(--ion-color-orange);
}

swiper {
    width: 100%;
    height: 100%;
}

.emptyList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


