ion-modal {
  --height: 75%;
}

ion-content{
  --offset-top: -20px !important

}

.emptyList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
