<ngx-datatable
  #table
  class="dark fullscreen"
  (scroll)="this.onScroll($event.offsetY)"

  [rows]="this.source"
  [columnMode]="this.ColumnMode.force"
  [rowHeight]="this.rowHeight"
  [loadingIndicator]="this.loading"
  [scrollbarV]="true"
  [reorderable]="false"
  [swapColumns]="false">

  <ngx-datatable-column
    [canAutoResize]="true"
    [resizeable]="false"
    [draggable]="false"
    [sortable]="false"
    [width]="15"
    name="Referencia"
    headerClass="center"
    cellClass="center"
    prop="id">
    <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">{{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [canAutoResize]="true"
    [resizeable]="false"
    [draggable]="false"
    [sortable]="false"
    name="Comentario"
    headerClass="center"
    prop="attributes.description">
    <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
      <p>{{value}}</p>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [canAutoResize]="true"
    [resizeable]="false"
    [draggable]="false"
    [sortable]="false"
    name="Valor"
    prop="attributes.value"
    headerClass="center"
    cellClass="center">
    <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
      <ng-container *ngIf="row.attributes.type == 'debito'">
        <ion-chip color="danger">
          <ion-icon name="cash"></ion-icon>
          <ion-label>
            <b>{{value | currency}}</b>
          </ion-label>
        </ion-chip>
      </ng-container>
      <ng-container *ngIf="row.attributes.type == 'credito'">
        <ion-chip color="success">
          <ion-icon name="checkmark"></ion-icon>
          <ion-label>
            <b>{{value | currency}}</b>
          </ion-label>
        </ion-chip>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [canAutoResize]="true"
    [resizeable]="false"
    [draggable]="false"
    [sortable]="false"
    name="Tipo"
    prop="attributes.type"
    headerClass="center"
    cellClass="center">
    <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
      <ng-container *ngIf="value == 'debito'">
        <ion-chip color="danger">
          <ion-icon name="close"></ion-icon>
          <ion-label>
            <b>{{value | uppercase}}</b>
          </ion-label>
        </ion-chip>
      </ng-container>
      <ng-container *ngIf="value == 'credito'">
        <ion-chip color="success">
          <ion-icon name="checkmark"></ion-icon>
          <ion-label>
            <b>{{value | uppercase}}</b>
          </ion-label>
        </ion-chip>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [canAutoResize]="true"
    [resizeable]="false"
    [draggable]="false"
    [sortable]="false"
    name="Fecha"
    prop="attributes.createdAt"
    headerClass="center"
    cellClass="center">
    <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex"> {{value | date:'dd/MM/yy, hh:mm aa'}} </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
