<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button color="orange" (click)="this.onExit()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Información Detallada</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf=" ( this.user$ | async ) as user; else loadingUser">
    <ion-grid fixed>

      <ion-row>
        <ion-col style="justify-content: center;display: flex;">
          <ion-chip (click)="showCreateEncomienda()" color="orange" mode="ios" outline="true">
            <ion-icon name="add"></ion-icon>
            <ion-label>Crear</ion-label>
          </ion-chip>
        </ion-col>

        <ion-col style="justify-content: center;display: flex;">
          <ng-container *ngIf="this.user.status == 'reportado'">
            <ion-chip color="success" mode="ios" outline="true">
              <ion-icon name="checkmark"></ion-icon>
              <ion-label>Desbloquear</ion-label>
            </ion-chip>
          </ng-container>
          <ng-container *ngIf="this.user.status != 'reportado'">
            <ion-chip color="danger" mode="ios" outline="true">
              <ion-icon name="close"></ion-icon>
              <ion-label>Reportar</ion-label>
            </ion-chip>
          </ng-container>
        </ion-col>

        <ion-col style="justify-content: center;display: flex;">
          <a style="text-decoration: none;"
            [href]="'https://maps.google.com/?q=' +  user?.business.direction.position.lat + ',' +  user?.business.direction.position.lng"
            target="_blank" rel="noreferrer external">
            <ion-chip color="tertiary" mode="ios" outline="true">
              <ion-icon name="map"></ion-icon>
              <ion-label>Ubicacion</ion-label>
            </ion-chip>
          </a>
        </ion-col>

        <ion-col style="justify-content: center;display: flex;">
          <ion-chip (click)="onShowHistory()" color="orange" mode="ios" outline="true">
            <ion-icon name="list"></ion-icon>
            <ion-label>Historial</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeXs="12" sizeMd="6">
          <ion-card>
            <ion-card-header>
              <ion-toolbar>
                <ion-card-subtitle>Nombre del Negocio</ion-card-subtitle>
                <ion-card-title>{{user.business.name | titlecase}}</ion-card-title>
                <ion-fab-button (click)="this.showAlertInputNameBusisness()" color="orange" size="small" slot="end">
                  <ion-icon name="pencil"></ion-icon>
                </ion-fab-button>
              </ion-toolbar>
            </ion-card-header>
            <ion-card-content class="ion-no-padding"
              style="display: flex; justify-content: center; align-content: center; flex-direction: column; align-items: center;">
              <input (change)="imgHandler($event,imgViewPortBusinessLogo);editingLogo=true" style="display: none;"
                id="image_logo" #imgInputPortBusinessLogo type="file" accept="image/*">
              <ion-avatar style="width: 140px; height: 140px;">
                <img #imgViewPortBusinessLogo
                  src="https://s1.fastworld.app{{user.business.logo.formats ? user.business.logo.formats.thumbnail.url: user.business.logo.url}}" />
              </ion-avatar>
              <ion-grid>
                <ion-row>
                  <ion-col *ngIf="editingLogo" #colBtnCancel sizeXs="6" sizeMd="4"
                    style="display: flex; justify-content: center; align-content: center; flex-direction: column; align-items: center;">
                    <ion-button
                      (click)="imgViewPortBusinessLogo.src = 'https://s1.fastworld.app'+ user.business.logo.formats.thumbnail.url; editingLogo = false"
                      style="width: 100%;" color="danger" shape="round" size="small"
                      (click)="imgInputPortBusinessLogo.click();">
                      <ion-icon slot="start" name="close"></ion-icon>
                      <ion-label>cancelar</ion-label>
                    </ion-button>
                  </ion-col>
                  <ion-col #colBtnSearch [sizeXs]="editingLogo ? 6 : 12" [sizeMd]="editingLogo ? 4 : 12"
                    style="display: flex; justify-content: center; align-content: center; flex-direction: column; align-items: center;">
                    <ion-button style="width: 100%;" color="orange" shape="round" size="small"
                      (click)="imgInputPortBusinessLogo.click();">
                      <ion-icon slot="start" name="search"></ion-icon>
                      <ion-label>Buscar</ion-label>
                    </ion-button>
                  </ion-col>
                  <ion-col *ngIf="editingLogo" #colBtnSuccess sizeXs="6" sizeMd="4" pushXs="3" pushMd="0"
                    style="display: flex; justify-content: center; align-content: center; flex-direction: column; align-items: center;">
                    <ion-button (click)="this.showAlertConfirmUpdateLogo()" color="success" style="width: 100%;"
                      shape="round" size="small">
                      <ion-icon slot="start" name="add"></ion-icon>
                      <ion-label>Actualizar</ion-label>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="ion-align-self-center" sizeXs="12" sizeMd="6">
          <ion-row>
            <ion-col size="12">
              <ion-card>
                <ion-card-header style="padding-bottom: 0;">
                  <ion-toolbar>
                    <ion-card-subtitle>Administracion</ion-card-subtitle>
                    <ion-card-title>
                      <ion-text color="orange"> {{ 'Resumen de saldos' }}</ion-text>
                    </ion-card-title>
                  </ion-toolbar>
                </ion-card-header>
                <ion-card-content class="ion-no-padding">
                  <ion-grid fixed>
                    <ion-row>
                      <ion-col sizeLg="6">
                        <ion-item *ngIf="balance > 0; else saldoElse">
                          <ion-icon color="success" name="cash" slot="start"></ion-icon>
                          <ion-label>
                            <p>Saldo</p>
                            <ion-text color="danger">{{ balance | currency }}</ion-text>
                          </ion-label>
                        </ion-item>
                        <ng-template #saldoElse>
                          <ion-item>
                            <ion-icon color="danger" name="cash" slot="start"></ion-icon>
                            <ion-label>
                              <p>Deuda</p>
                              <ion-text color="danger">{{ balance | currency }}</ion-text>
                            </ion-label>
                          </ion-item>
                        </ng-template>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="12">
              <ion-card>
                <ion-card-header style="padding-bottom: 0;">
                  <ion-toolbar>
                    <ion-card-subtitle>Membrecia</ion-card-subtitle>
                    <ion-card-title>
                      <ion-text color="orange"> {{ user.business.membreship != null ? (user.business.membreship.type |
                        titlecase ) : 'Sin Asignar' }}</ion-text>
                    </ion-card-title>
                    <ion-label *ngIf="user.business.membreship != null">
                      <p>Ultima Modificacion</p>
                      <p>{{user.business.membreship.updatedAt | date:'short'}}</p>
                    </ion-label>
                    <ion-fab-button (click)="this.showModalMembership()" id="modal-membership" color="orange"
                      size="small" slot="end">
                      <ion-icon name="pencil"></ion-icon>
                    </ion-fab-button>
                  </ion-toolbar>
                </ion-card-header>
                <ion-card-content class="ion-no-padding">
                  <ion-grid fixed>
                    <ion-row>
                      <ion-col sizeLg="6">
                        <ion-item>
                          <ion-icon name="calendar" slot="start"></ion-icon>
                          <ion-label>
                            <p>Fecha de Inicio</p>
                            <h4>{{ user.business.membreship != null ? ( user.business.membreship.start |
                              date:'d/M/yyyy') : 'Sin Especificar' }}</h4>
                          </ion-label>
                        </ion-item>
                      </ion-col>
                      <ion-col sizeLg="6">
                        <ion-item>
                          <ion-icon name="calendar" slot="start"></ion-icon>
                          <ion-label>
                            <p>Fecha de Expiración</p>
                            <h4>{{ user.business.membreship != null ? ( user.business.membreship.expire |
                              date:'d/M/yyyy') : 'Sin Especificar' }}</h4>
                          </ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-item>
          <ion-label>
            <p>Manzana/villa/ casa | apartamento</p>
            <h2>{{user?.business?.home || "Sin especificar"}}</h2>
          </ion-label>
        </ion-item>
      </ion-card>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header style="padding-bottom: 0;">
              <ion-toolbar>
                <ion-card-subtitle>Información Basica</ion-card-subtitle>
                <ion-card-title>Cliente <ion-text color="orange">{{user.id}} </ion-text>
                </ion-card-title>
                <ion-fab-button (click)="this.formBasic.enable()" color="orange" size="small" slot="end">
                  <ion-icon name="pencil"></ion-icon>
                </ion-fab-button>
              </ion-toolbar>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-grid>
                <ion-row [formGroup]="this.formBasic">
                  <ion-col sizeXs="12" sizeSm="6" sizeMd="4">
                    <ion-item mode="md">
                      <ion-label position="stacked">Nombre</ion-label>
                      <ion-icon slot="start" name="add"></ion-icon>
                      <ion-input type="text" formControlName="name" placeholder="Ingresar Nombre"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col sizeXs="12" sizeSm="6" sizeMd="4">
                    <ion-item mode="md">
                      <ion-label position="stacked">Apellido</ion-label>
                      <ion-icon slot="start" name="add"></ion-icon>
                      <ion-input type="text" formControlName="lastname" placeholder="Ingresar Apellido"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col sizeXs="12" sizeSm="6" sizeMd="4">
                    <ion-item mode="md">
                      <ion-label position="stacked">Telefono</ion-label>
                      <ion-icon slot="start" name="add"></ion-icon>
                      <ion-input type="text" formControlName="phone" placeholder="Ingresar telefono"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col sizeXs="12" sizeSm="6" sizeMd="4">
                    <ion-item mode="md">
                      <ion-icon slot="start" name="add"></ion-icon>
                      <ion-label position="stacked">Identification</ion-label>
                      <ion-input formControlName="identification" type="text" placeholder="Ingresar Dni"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ng-container formGroupName="user">
                    <ion-col sizeXs="12" sizeSm="6" sizeMd="4">
                      <ion-item mode="md">
                        <ion-label position="stacked">Email</ion-label>
                        <ion-icon slot="start" name="add"></ion-icon>
                        <ion-input type="text" formControlName="mail" placeholder="Awesome Input"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col sizeXs="12" sizeSm="6" sizeMd="4">
                      <ion-item mode="md">
                        <ion-label position="stacked">Contraseña</ion-label>
                        <ion-icon slot="start" name="add"></ion-icon>
                        <ion-input type="text" formControlName="password" placeholder="Awesome Input"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ng-container>
                </ion-row>
                <ion-row *ngIf="this.formBasic.enabled">
                  <ion-col sizeXs="12" sizeSm="6">
                    <ion-button size="small" color="danger" (click)="this.formBasic.disable()" expand="block"
                      fill="solid" shape="round">
                      <ion-label>cancelar</ion-label>
                    </ion-button>
                  </ion-col>
                  <ion-col sizeXs="12" sizeSm="6">
                    <ion-button size="small" color="success"
                      (click)="this.showAlertConfirmUpdateBasic();this.formBasic.disable()" expand="block" fill="solid"
                      shape="round">
                      <ion-label>Actualizar</ion-label>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-template #loadingUser>
    <section class="emptyList">
      <ion-img style="max-width: 25%;" id="img-list" [src]="'../../../../assets/svg/undraw_loading_re_5axr.svg'">
      </ion-img>
      <ion-card-header class="ion-text-center">
        <ion-card-title>Buscando Información</ion-card-title>
        <ion-card-subtitle>Espere unos instantes mientras preparamos su solicitud</ion-card-subtitle>
        <ion-spinner name="crescent"></ion-spinner>
      </ion-card-header>
    </section>
  </ng-template>
</ion-content>
