<ion-header>
  <ion-toolbar>
      <app-btn-menu slot="start"></app-btn-menu>
      <ion-buttons slot="end">
          <ion-menu-button menu="menu-historial"></ion-menu-button>
      </ion-buttons>
      <ion-title>Activas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ngx-datatable
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
      (scroll)="onScroll($event.offsetY)"
      [selectionType]="SelectionType.single"
      [rows]="this.source"
      [columnMode]="ColumnMode.standard"
      [headerHeight]="headerHeight"
      [rowHeight]="rowHeight"
      [loadingIndicator]="loading"
      [scrollbarV]="true"
      [reorderable]="false"
      [swapColumns]="false"
      [selected]="selected"
      class="dark fullscreen">
        <!-- colunm id -->
        <ngx-datatable-column [minWidth]="100" [canAutoResize]="true" [resizeable]="false" [draggable]="false" [sortable]="false"  headerClass="center" cellClass="center" name="Ticket" prop="id">
            <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }} </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
        </ngx-datatable-column>
        <!-- column Sender  -->
        <ngx-datatable-column [minWidth]="100" [canAutoResize]="true" [resizeable]="false" [draggable]="false" [sortable]="false"  headerClass="center" cellClass="center" name="Remitente" prop="attributes.sender.data.attributes.business.name">
            <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }} </ng-template>
            <ng-template let-rowIndex='rowIndex' let-row="row" let-value="value" ngx-datatable-cell-template>{{ value  }} {{rowIndex}}</ng-template>
        </ngx-datatable-column>
        <!-- column state package -->
        <ngx-datatable-column [minWidth]="100" [canAutoResize]="true" [resizeable]="false" [draggable]="false" [sortable]="false"  headerClass="center" cellClass="center" name="Estado" prop="attributes.shipping_status">
            <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }} </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ng-container [ngSwitch]="value">
                    <h6 style="margin: 0; font-weight: bold;">
                        <ion-text *ngSwitchCase="'invalido'" color="warning">{{ 'sin confirmar' | uppercase}}</ion-text>
                        <ion-text *ngSwitchCase="'pendiente'" color="dark">{{ value | uppercase}}</ion-text>
                        <ion-text *ngSwitchCase="'recibido'" color="primary">{{ value | uppercase}}</ion-text>
                        <ion-text *ngSwitchCase="'entregado'" color="success">{{ value | uppercase}}</ion-text>
                        <ion-text *ngSwitchCase="'rechazado'" color="danger">{{ 'reportado' | uppercase}}</ion-text>
                        <ion-text *ngSwitchCase="'aceptado'" color="success">{{ value | uppercase}}</ion-text>
                    </h6>
                </ng-container>
            </ng-template>
        </ngx-datatable-column>
        <!-- column Contra-Entrega  -->
        <ngx-datatable-column [minWidth]="100" [canAutoResize]="true" [resizeable]="false" [draggable]="false" [sortable]="false"  headerClass="center" cellClass="center" name="Contra-Entrega" prop="attributes.value">
            <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }} </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ value | currency }}</ng-template>
        </ngx-datatable-column>
        <!-- column Driver  -->
        <ngx-datatable-column [minWidth]="100" [canAutoResize]="true" [resizeable]="false" [draggable]="false" [sortable]="false"  headerClass="center" cellClass="center" name="Conductor" prop="attributes.driver.data.attributes">
            <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }} </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ng-container *ngIf="value">{{ ( value.name | titlecase ) }}  {{ ( value.lastname | titlecase ) }}</ng-container>
                <ng-container *ngIf="!value"><ion-text color="dark">Sin Asignar</ion-text></ng-container>
            </ng-template>
        </ngx-datatable-column>
        <!-- column receiver -->
        <ngx-datatable-column [canAutoResize]="true" [resizeable]="false" [draggable]="false" [sortable]="false" name="Destinatario" prop="attributes.receiver">
          <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }} </ng-template>
          <ng-template let-row="row" let-value="value"  ngx-datatable-cell-template let-rowIndex="rowIndex">
            <ion-label *ngIf="value" [id]="'receiver'+'-'+rowIndex" style="cursor: pointer;">{{ ( value.name | titlecase ) }}</ion-label>
            <ion-label *ngIf="!value"><ion-text color="dark">Sin Asignar</ion-text></ion-label>
            <ion-popover [showBackdrop]="true" [trigger]="'receiver'+'-'+rowIndex" side="left" reference="event" triggerAction="click" style="--offset-y: -65px" alignment="center" >
              <ng-template>
                <ion-content>
                  <ion-card>
                    <ion-card-header class="ion-no-padding">
                      <ion-item>
                        <ion-label position="stacked" style="display: flex; align-items: center;">
                          <ion-icon name="person"></ion-icon>
                          <ion-text color="orange">Destinatario: {{value.id}}</ion-text>
                        </ion-label>
                        <h4>{{ ( value.name | titlecase ) }}</h4>
                      </ion-item>
                    </ion-card-header>
                    <ion-card-header class="ion-no-padding">
                    <ion-card-subtitle  style="display: flex; align-items: center; justify-content: center;">
                      <ion-fab-button href="tel:{{value.phone}}" size="small">
                        <ion-icon name="call"></ion-icon>
                      </ion-fab-button>
                      <ion-fab-button [href]="'https://api.whatsapp.com/send?phone=' + value.phone.replace('+','')" target="_blank" rel="noopener noreferrer" color="success" size="small">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                      </ion-fab-button>
                    </ion-card-subtitle>
                  </ion-card-header>
                  </ion-card>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ng-template>
        </ngx-datatable-column>
        <!-- column timeOut  -->
        <ngx-datatable-column [minWidth]="100" [canAutoResize]="true" [resizeable]="false" [draggable]="false" [sortable]="false"  headerClass="center" cellClass="center" name="Tiempo de Retiro" prop="attributes.pickup">
            <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }} </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ng-container *ngIf="value"><ion-text color="dark">{{ ( value | date:'short') }}</ion-text></ng-container>
                <ng-container *ngIf="!value"><ion-text color="dark">Sin Asignar</ion-text></ng-container>
            </ng-template>
        </ngx-datatable-column>
        <!-- column options -->
        <!-- <ngx-datatable-column [minWidth]="330" [canAutoResize]="true" [resizeable]="false" [draggable]="false" [sortable]="false"  headerClass="center" cellClass="center" name="Opciones" prop="id">
            <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }} </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <ion-fab-button (click)="this.onSearchPackage(value)" color="orange"  size="small">
                <ion-icon name="search"></ion-icon>
              </ion-fab-button>
              <ion-fab-button (click)="sharePackage(value)" color="orange"  size="small">
                <ion-icon name="share"></ion-icon>
              </ion-fab-button>
              <ion-fab-button (click)="this.onTransferPackage(value)" color="primary"  size="small">
                <ion-icon name="repeat"></ion-icon>
               </ion-fab-button>
               <ion-fab-button color="success"  size="small">
                 <ion-icon name="checkmark"></ion-icon>
                </ion-fab-button>
                <ion-fab-button color="danger" size="small">
                    <ion-icon name="close"></ion-icon>
                </ion-fab-button>
                <ion-fab-button color="tertiary"  size="small">
                  <ion-icon name="map"></ion-icon>
                </ion-fab-button>

            </ng-template>
        </ngx-datatable-column> -->
    </ngx-datatable>
</ion-content>

