<div class="content-custom">
  <records #datatable [parentPath]="path" (select)="onRowSelect($event)"> </records>
</div>
<ion-footer>
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-row>
          <ion-col>
            <ion-title>
              <ion-label>
                <p>{{getDay() | titlecase}}</p>
                <ion-row>
                  <ion-col size="4">
                    <h1>Ingresos: <ion-text color="success">{{resume.income | currency}}</ion-text></h1>
                  </ion-col>
                  <ion-col size="4">
                    <h1>
                      Egreso: <ion-text color="danger">{{resume.discharge| currency}}</ion-text >
                    </h1>
                  </ion-col>
                  <ion-col size="4">
                    <h1>
                      Fletes: <ion-text color="success">{{resume.delivery| currency}}</ion-text >
                    </h1>
                  </ion-col>
                </ion-row>
              </ion-label>
            </ion-title>
          </ion-col>
          <ion-col size="3" class="custom-flex">
            <ion-button (click)="showModal()" color="orange">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              <ion-label>Añadir</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-card-header>
  </ion-card>
</ion-footer>
